html {
  overflow-x: hidden;
}

body {
  font-family: 'Monospace', '微软雅黑', '黑体';
  background-color: #ffffff;
}

html, body, .mainContainer, .mainRow {
  height: 100%;
}

.mainContainer {
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  padding-top: 51px;
  padding-bottom: 1em;
  position: relative;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nopadding {
  padding: 0;
}

.centerText {
  text-align: center;
}

.navbar-inverse {
  background-color: #AFBBC2;
  border-color: #AFBBC2;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #f5f5f5;
}

/*滚动条样式*/
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-button    {
  display: none;
}

*::-webkit-scrollbar-track     {
  display: none;
}

*::-webkit-scrollbar-track-piece {
  display: none;
}

*::-webkit-scrollbar-thumb{
  background: #ddd;
  /*border: 1px solid #ccc;*/
}

*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-scrollbar-resizer  {
  display: none;
}
